doctype html
html(lang='en')
  head
    title Create Event
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include ../public/css/eventDetails.css
    //- link(rel='stylesheet', href='../css/eventDetails.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")

  body
    .grid
      .navbar
        span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ Menu
        #mySidenav.sidenav
          a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
          a(href='#') Home
          a(href='#') About
          a(href='#') Events
          a(href='#') Places
          a(href='#') FAQ
        img.logo(src= "/logo.png", alt='GPS', width='80', height='80')

      .main_content
        .imageContent
          img.main_img(src=event.pictures, alt='main_image') 
        .textContent

          h2 #{event.name}
          p <b>Organised by:</b> #{event.organizer}
          p <b>Start Date:</b> #{event.startDate}
          p <b>End Date:</b> #{event.endDate}
          p <b>Start Time:</b> #{event.startTime}
          p <b>End Time:</b> #{event.endTime}
          p <b>Description:</b> #{event.description}
          p <b>Contact Details:</b> <i>insert contact details here</i>
          - var contacts = "Phone Number: "+phone+"\nEmail: "+ email;
          p <b>Phone Number:</b> #{event.phone}
          p <b>Tags:</b> #{event.tags}
          p <b>Website:</b> <i>insert website link here</i>
          br
          #join
            h3.join <b>Join?<b>
            button Yes
            button No
      
      .gallery
        h2 Gallery <i>create gallery</i>
        img(src='', alt='event_pic')
        img(src='', alt='event_pic2')

      .ratings
        h2 Ratings:
        form#submitReview(action='../../ratings/addRating', method='post')
            div(class='stars', rating='3')
                span(class='star rated', value='&nbsp;', onclick='setRating(event)')
                span(class='star rated', value='&nbsp;', onclick='setRating(event)')
                span(class='star rated', value='&nbsp;', onclick='setRating(event)')
                span(class='star', value='&nbsp;', onclick='setRating(event)')
                span(class='star', valie='&nbsp;', onclick='setRating(event)')
            input#stars(type='hidden', value='3')
            input#eventID(type='hidden', value=event._id)
            input#desc(type='text')
            input(type='submit', value='Submit review')
            ul#response
      .reviews
        h2 Reviews
        #addedRating
        if ratings
            each rating in ratings
                .rating_card
                    p USER: #{rating.userName}
                    p STARS: #{rating.stars}
                    p DESCRIPTION: #{rating.desc}
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved. 
          a(href='page2.html')
        a(href='page2.html')
        ul(style='color:white')
          a(href='page2.html')
          li
            a(href='page2.html')
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Service
          li
            a(href='#') Cookie Policy
    script.

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function setRating(event){
            let span = event.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                } else {
                    star.classList.add('rated');
                }
                if(star == span){
                    match = true;
                    num = index + 1;
                }
            });
            document.getElementById('stars').value = num;
        }

        $(function(){
            $('#submitReview').submit(function(event) {
                event.preventDefault();
                var formData = {
                    eventID: $('#eventID')[0].value,
                    stars: $('#stars')[0].value,
                    desc: $('#desc')[0].value
                };
                $.post('/ratings/addRating', formData, function(resp){
                    var stringUser = JSON.stringify(resp.userName);
                    var stringStars = JSON.stringify(resp.stars);
                    var stringDesc = JSON.stringify(resp.desc);

                    var addedRating = document.getElementById('addedRating');

                    var ratingBox = document.createElement('div');
                    ratingBox.className = 'rating_card';

                    var userText = document.createElement('p');
                    userText.innerHTML = stringUser;
                    var starText = document.createElement('p');
                    starText.innerHTML = stringStars;
                    var descText = document.createElement('p');
                    descText.innerHTML = stringDesc;

                    ratingBox.appendChild(userText);
                    ratingBox.appendChild(starText);
                    ratingBox.appendChild(descText);

                    addedRating.appendChild(ratingBox);
                });
            });
        });    

