doctype html
html(lang='en')
  head
    title Create Event
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include ../public/css/eventDetails.css
    //- link(rel='stylesheet', href='../css/eventDetails.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")

  body
    .grid
      .navbar
        span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ Menu
        #mySidenav.sidenav
          a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
          a(href='/members/userProfile') Go to Profile
          a(href='/') Home
          a(href='/about') About
          a(href='/events/findEvent') Find Events
          a(href='/places') Places
          a(href='/events/createEvent') Create Event!
        img.logo(src= "/logo.png", alt='GPS', width='80', height='80')

      //- Event picture displayed 
      .imageContent
        img.main_img(src=event.pictures, alt='main_image')
        //- Description of the events
      .main_content
        .textContent

          h2 #{event.name}
          p <b>Organised by:</b> #{event.organizer}
          p <b>Start Date:</b> #{event.startDate}
          p <b>End Date:</b> #{event.endDate}
          p <b>Start Time:</b> #{event.startTime}
          p <b>End Time:</b> #{event.endTime}
          p <b>Description:</b>
          p #{event.description}
          p.contacts <b>Contact Details:</b>
          p <b>Email:</b> #{event.email}
          p <b>Phone Number:</b> #{event.phone}
          p <b>Tags:</b> #{event.tags}
          br
          #join
            h3.join <b>Join?<b>
            button#yes Yes
            button#no No
            -
                var intTxt = 'Interested';
                if(){
                    intTxt = 'Not interested';
                }
            input#interested(type='button', value=intTxt)
        //- Ratings
      .ratings
        h2 Add reviews:
        form#submitReview(action='../../ratings/addRating', method='post')
            div(class='stars', rating='3')
                span(class='star rated', value='&nbsp;', onclick='setRating(event)')
                span(class='star rated', value='&nbsp;', onclick='setRating(event)')
                span(class='star rated', value='&nbsp;', onclick='setRating(event)')
                span(class='star', value='&nbsp;', onclick='setRating(event)')
                span(class='star', valie='&nbsp;', onclick='setRating(event)')
            input#stars(type='hidden', value='3')
            input#eventID(type='hidden', value=event._id)
            input#eventName(type='hidden', value=event.name)
            textarea#desc(name="description" cols="40" rows="5")
            br
            input(type='submit', value='Submit review')
            ul#response
      //- Reviews      
      .reviews
        h2 Reviews
        #addedRating
        //- Displaying the review created by the user
        if ratings
            each rating in ratings
                .rating_card
                    p USER: #{rating.userName}
                    p STARS: #{rating.stars}/5
                    p DESCRIPTION: #{rating.desc}
      //- Footer              
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved.
          a(href='page2.html')
        a(href='page2.html')
        ul(style='color:white')
          a(href='page2.html')
          li
            a(href='page2.html')
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Service
          li
            a(href='#') Cookie Policy
    
    script.
        //- Navigation bar funtctions
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        //- Rating 
        function setRating(event){
            let span = event.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                } else {
                    star.classList.add('rated');
                }
                if(star == span){
                    match = true;
                    num = index + 1;
                }
            });
            document.getElementById('stars').value = num;
        }
        //- Review
        $(function(){
            $('#submitReview').submit(function(event) {
                event.preventDefault();
                var formData = {
                    eventID: $('#eventID')[0].value,
                    stars: $('#stars')[0].value,
                    desc: $('#desc')[0].value,
                    eventName: $('#eventName')[0].value
                };

                $.post('/ratings/addRating', formData, function(resp){
                    var stringUser = JSON.stringify(resp.userName);
                    var stringStars = JSON.stringify(resp.stars);
                    var stringDesc = JSON.stringify(resp.desc);

                    var addedRating = document.getElementById('addedRating');

                    var ratingBox = document.createElement('div');
                    ratingBox.className = 'rating_card';

                    var userText = document.createElement('p');
                    userText.innerHTML = stringUser;
                    var starText = document.createElement('p');
                    starText.innerHTML = stringStars;
                    var descText = document.createElement('p');
                    descText.innerHTML = stringDesc;

                    ratingBox.appendChild(userText);
                    ratingBox.appendChild(starText);
                    ratingBox.appendChild(descText);

                    addedRating.appendChild(ratingBox);
                });
            });
            //- Joining the event, Yes, No, Interested options
            //- YES
            $('#yes').click(function(event){
                event.preventDefault();
                var eventID = {
                    id: $('#eventID')[0].value
                }
                $.ajax({
                    url: '/events/joinEvent',
                    type: 'PUT',
                    data: eventID,
                    success: function(data){
                        alert("You are now joining this event");
                    },
                    error: function(){
                        alert("Please log in!");
                    }
                });
            });
            //- NO
            $('#no').click(function(event){
                event.preventDefault();
                var eventID = {
                    id: $('#eventID')[0].value
                }
                $.ajax({
                    url: '/events/declineEvent',
                    type: 'PUT',
                    data: eventID,
                    success: function(data){
                        alert("You are no longer joining this event");
                    },
                    error: function(){
                        alert("Please log in!");
                    }
                });
            });
            //- INTERESTED
            $('#interested').click(function(event){
                event.preventDefault();
                var eventID = {
                    id: $('#eventID')[0].value
                }
                if($('#interested')[0].value() === "Interested"){
                    $.ajax({
                        url: '/members/interested',
                        type: 'PUT',
                        data: eventID,
                        success: function(data){
                            alert("You are interested in this event");
                            $('#interested').val('Not interested');
                        },
                        error: function(){
                            alert("Please log in!");
                        }
                    });
                }
                else {
                    $.ajax({
                        url: '/members/notInterested',
                        type: 'PUT',
                        data: eventID,
                        success: function(data){
                            alert("You are no longer interested in this event");
                            $('#interested').val('Interested')
                        },
                        error: function(){
                            alert("Please log in!");
                        }
                    });
                }
                
            });
        });

