doctype html
html(lang='en')
  head
    title Create Event
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include ../public/css/eventDetails.css
      include ../public/css/universal.css
    //- link(rel='stylesheet', href='../css/eventDetails.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")

  body
    .grid
      include includes/navbar.pug
      //- Event picture displayed 
      .imageContent
        img.main_img(src=event.pictures, alt='main_image')
        //- Description of the events
      .main_content
        .textContent

          h2 #{event.name}
          a(href='/members/profile/'+event.organizer)
            p <b>Organised by:</b> #{event.organizer}
          p <b>Start Date:</b> #{event.startDate}
          p <b>End Date:</b> #{event.endDate}
          p <b>Start Time:</b> #{event.startTime}
          p <b>End Time:</b> #{event.endTime}
          p <b>Description:</b>
          p #{event.description}
          p.contacts <b>Contact Details:</b>
          p <b>Email:</b> #{event.email}
          p <b>Phone Number:</b> #{event.phone}
          p <b>Tags:</b> #{event.tags}
          br
          -
            var canJoin = true;
            var date = new Date();
            var y = event.endDate.slice(0,4);
            if(y < date.getFullYear()) {
              canJoin = false;
            }
            var m = event.endDate.slice(5,7);
            if(y === date.getFullYear() && m < date.getMonth()+1) {
              canJoin = false;
            }
            var d = event.endDate.slice(8,10);
            if(y === date.getFullYear() && m === date.getMonth()+1 && d < date.getDate()) {
              canJoin = false;
            }

          if canJoin
            #join
              h3.join <b>Join?<b>
              button#yes Yes
              button#no No
          else
            p
            | This event has passed!
        //- Ratings
      .ratings
        h2 Add reviews:
          div#starRatings(class='stars', rating='3')
            span(class='star rated', value='&nbsp;', onclick='setRating(event)')
            span(class='star rated', value='&nbsp;', onclick='setRating(event)')
            span(class='star rated', value='&nbsp;', onclick='setRating(event)')
            span(class='star', value='&nbsp;', onclick='setRating(event)')
            span(class='star', valie='&nbsp;', onclick='setRating(event)')
          input#stars(type='hidden', value='3')
          input#eventID(type='hidden', value=event._id)
          input#eventName(type='hidden', value=event.name)
          textarea#desc(name="description" cols="40" rows="5")
          br
          input#submitReview(type='button', value='Submit review')
          ul#response
      //- Reviews      
      .reviews
        h2 Reviews
        //- Displaying the review created by the user
        if ratings.length > 0
          - 
            var avg = 0;
            var counter = 0;
            ratings.forEach(function(rating){
              avg += rating.stars;
              counter++;
            });
            avg /= counter;
            avg = avg.toFixed(2);
          p Average Ratings:
          | #{avg}/5
        
        #addedRating

        if ratings.length > 0
          each rating in ratings
            .rating_card
              a(href='/members/profile/' + rating.userName)
                p #{rating.userName}
              -   
                var n = 1;
                var leftover = 5 - rating.stars;
              div(class='userStars')
                while n++ <= rating.stars
                  span(class = 'starred rated', value='&nbsp')
                while leftover-- > 0
                  span(class = 'starred', value='&nbsp')
              p DESCRIPTION: 
              | #{rating.desc}
      //- Footer              
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved.
    
    script.
        document.getElementById('desc').value = '';

        //- Navigation bar funtctions
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        //- Rating 
        function setRating(event){
            let span = event.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                } else {
                    star.classList.add('rated');
                }
                if(star == span){
                    match = true;
                    num = index + 1;
                }
            });
            document.getElementById('stars').value = num;
        }

        //- Review
        $(function(){
            $('#submitReview').click(function(event) {
                event.preventDefault();
                if($('#desc')[0].value.length > 0){
                    var formData = {
                        eventID: $('#eventID')[0].value,
                        stars: $('#stars')[0].value,
                        desc: $('#desc')[0].value,
                        eventName: $('#eventName')[0].value
                    };

                    $.ajax({
                        url: '/ratings/addRating',
                        type: 'put',
                        data: formData,
                        success: function(data){

                            var addedRating = document.getElementById('addedRating');

                            var ratingBox = document.createElement('div');
                            ratingBox.className = 'rating_card';

                            var userText = document.createElement('p');
                            userText.innerHTML = data.userName;
                            userText.style.fontWeight = 'bold';
                            ratingBox.appendChild(userText);

                            for(let i = 0; i < 5; i++){
                                var star = document.createElement('span');
                                if(i+1 <= data.stars){    
                                    star.className = 'starred rated';
                                
                                } else{
                                    star.className = 'starred';
                                }
                                star.value = '&nbps';

                                ratingBox.appendChild(star);
                            }

                            var descText = document.createElement('p');
                            descText.innerHTML = "DESCRIPTION:\n" + data.desc;
                            descText.style.fontWeight = 'bold';
                            ratingBox.appendChild(descText);

                            addedRating.appendChild(ratingBox);

                            document.getElementById('desc').value = '';
                        }
                    
                    });
                }
            });
            //- Joining the event, Yes, No, Interested options
            //- YES
            $('#yes').click(function(event){
                event.preventDefault();
                var eventID = {
                    id: $('#eventID')[0].value
                }
                $.ajax({
                    url: '/events/joinEvent',
                    type: 'PUT',
                    data: eventID,
                    success: function(data){
                        alert("You are now joining this event");
                    },
                    error: function(){
                        alert("Please log in!");
                    }
                });
            });
            //- NO
            $('#no').click(function(event){
                event.preventDefault();
                var eventID = {
                    id: $('#eventID')[0].value
                }
                $.ajax({
                    url: '/events/declineEvent',
                    type: 'PUT',
                    data: eventID,
                    success: function(data){
                        alert("You are no longer joining this event");
                    },
                    error: function(){
                        alert("Please log in!");
                    }
                });
            });
        });

