doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='../css/loadPlaceNew.css', type='text/css')
    style
      include ../public/css/loadPlaceNew.css
      include ../public/css/universal.css
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Heebo:300&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Search Places
  body
    #loadPage
    .container
      //- Navigation menu
      include includes/navbar.pug
      //- include map
      include includes/mapOnly.pug
        //- search for tags
        .filterSide
          h3 Filter
          p Category
          input#input(type='text', placeholder='Search Category', name='name', onkeyup='addCategory()')
          input.all(type='button', value = 'SHOW ALL', onclick="filterOut('show all')")
          #filter
      //- Searchbar to find places
      .searching
        form(action='/places/getPlaces', method='post')
          input.search(type='text', placeholder='Search Places', name='name')
          input(type='submit', value='Find')
          
      //- search for places and displaying the details of the places
      .displayEvents
        if places.length > 0
          .events
            each place in places
              div(class='filtered ', name ='displayedPlaces', category=place.category, onclick="window.location.href='/places/getPlace/" + place.id + "'")
                .event_card
                  .event_title
                    h3 #{place.placeName}
                  .event_pic
                    img(src= place.pictures, alt='place_pic')
                  .event_desc
                    p <b>Location:</b> #{place.placeAddress}
                    p <b>Cateogory:</b> #{place.category}
                    p <b>Description:</b> 
                    | #{place.placeDescription}
                    
        else
          p(style="text-align:center") <b>No places found!</b>

      //- Footer
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved. 

    script.
        // Side Navigation Bar
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }

        var places = !{JSON.stringify(places)};
        var filter = document.getElementById('filter');

        function loadCategories(places) {
          let placeLst = [];

          for (let i = 0; i < places.length; i++) {
              if(!placeLst.includes(places[i].category)){
                  placeLst.push(places[i].category);
                  var btn = document.createElement('input');
                  btn.type = 'button';
                  btn.name = 'tagFilter';
                  btn.className = 'filterTag';
                  btn.value = places[i].category;
                  btn.onclick = function(){
                      filterOut(places[i].category);
                  }
                  filter.appendChild(btn);
              }
          }
          return placeLst;
        }

        if(places.length > 0) {
          loadCategories(places);
        }

        function filterOut(cat) {
          var displayedPlaces = document.getElementsByClassName('filtered');
          for(let i = 0; i < displayedPlaces.length; i++){
            if(displayedPlaces[i].getAttribute('category') === cat || cat === 'show all'){
              
              displayedPlaces[i].style.display = 'block';
            } else {
              displayedPlaces[i].style.display = 'none';
            }
          }
        }

        //- Adding Tags to the places
        function addCategory() {
            
          var input, filter, tagDiv;
          input = document.getElementById('input');
          filter = input.value.toUpperCase();
          
          tagDiv = document.getElementsByName('tagFilter');
          tagDiv.forEach(function(element) {
            if(element.value.toUpperCase().indexOf(filter) > -1 && filter.length > 0 || filter.length === 0){
                element.style.visibility = 'visible';
            } else {
                element.style.visibility = 'hidden';
            }
          });
        }