doctype html
html
  head
    title Simple Leaflet Map
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
  body
    #map(style='width: 900px; height: 580px')
    script(src='http://cdn.leafletjs.com/leaflet-0.7/leaflet.js')
    
    script.
      var map = L.map('map').setView([-37.814, 144.96332], 10);
      mapLink =
      '<a href="http://openstreetmap.org">OpenStreetMap</a>';
      L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; ' + mapLink + ' Contributors',
      maxZoom: 18,
      }).addTo(map);
    
    each evented in events
      script.
        var marker = new L.Marker([#{evented.lat},#{evented.long}]);
        marker.bindPopup("<h1>#{evented.name}</h1>Address: #{evented.address}<br/>Phone: #{evented.phone}<br/>Email: #{evented.email}");
        map.addLayer(marker);
        
    form(action="/events/maps/search", method="post")
      h2 D I S C O V E R
      input(type="text", placeholder="searching...",name="search")
      input(type="submit",value="SUBMIT")
        
      
