doctype html
html
  head
    title GO-BLOX: GET PEOPLE SOCIALISING!
    meta(charset='utf-8')
    link(rel='stylesheet',type='text/css', href='mappers.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')

  //-link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
  body
    style
      include ../public/css/mappers.css
    .grid
      .mapping  
        #map
        script(src='http://cdn.leafletjs.com/leaflet-0.7/leaflet.js')
        script.
          var map = L.map('map').setView([-37.814, 144.96332], 12);
          mapLink =
          '<a href="http://openstreetmap.org">OpenStreetMap</a>';
          L.tileLayer(
          'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; ' + mapLink + ' Contributors',
          maxZoom: 18,
          }).addTo(map);
        //- Display markers for events
        if events
            each evented in events
              script.
                var marker = new L.Marker([#{evented.lat},#{evented.long}]);
                marker.bindPopup("<b>#{evented.name}</b><br/>Address: #{evented.address}<br/>Phone: #{evented.phone}<br/>Email: #{evented.email}");
                map.addLayer(marker);
                marker.on('dblclick', function onClick(e){
                  window.location.href = '/events/getEvent/#{evented.id}'
                });
        //- Display markers for places (Jansen pls work on the backend)
        if places
            each place in places
              script.
                var marker_place = new L.Marker([#{evented.lat},#{evented.long}]);
                marker_place.bindPopup("<b>#{place.name}</b><br/>Address: #{place.address}<br/>Phone: #{place.phone}<br/>Email: #{place.email}");
                map.addLayer(marker_place);
                marker_place.on('dblclick', function onClick(e){
                  window.location.href = '/places/getPlace/#{place.id}'
                });


      .desc
        h1 gps.
        h3
          |get people
          br
          |socializing  
        h4
          br
          |A platform for students especially those 
          br
          |who are new in Melbourne 
          br
          |to discover events and places 
          br
          |based on their interests and 
          br
          |meet new people with likeminded values! :)  
          h2 D I S C O V E R
          .searching
            form(action="/events/maps/search", method="post")
              input(type="search", placeholder="search...",name="search")
              button.i.fa.fa-search(type='submit')
          h5 DISCOVER MORE!
          if !isLoggedIn
              ul
                li
                  a(href='/members/signup') SIGN UP
                li
                  a(href='/members/login') LOGIN

          else 
            ul
              li
                  a(href='/members/login') Go to your page

