html
  style
    include ../public/css/universal.css
    include ../public/css/profileEdit.css
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Heebo:300&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  body
    //- configure layout with grid
    .grid
      //- add navigation bar with links to relevant pages
      .navbar
        span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ Menu
        #mySidenav.sidenav
          a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
          if notCurr
            a(href='/members/userProfile') Go to Profile
          else
            a(href='#') ☺ #{user.userName}
          a(href='/') Home
          a(href='/events/findEvent') Find Events
          a(href='/places') Find Places
          a(href='/events/createEvent') Create Event
          a(href='/places/createPlace') Create Place
          a#logout(href='/members/logout') Logout :(

      a.logo(href='/')
        img.logo(src= "/logo.png", alt='GPS', width='80', height='80')


      //- contains basic profile info for user
      .basic_profile
        -
          var source = user.display.public_id !== '' ? user.display.url : '/profilePic.png'

        img.profile(src= source, alt='profile_picture')

        - var fullname = firstName + ' ' + lastName;
        h3 #{user.firstName} #{user.lastName}
        h4 @#{user.userName}
        h4 Member since: 
        h4 #{user.joined_date}
        h4 Date of Birth: #{user.DOB}

        if notCurr
          -
            var followText = 'Follow';
            if(isFollowing){
                followText = 'Unfollow';
            }
          input#followUser(type='submit', value=followText, name=user.userName)

      //- display other contents about users in tabs
      .all_content

        // Tab links
        .tab
          button.tablinks#start(onclick="openTab(event, 'Interests')") INTERESTS
          button.tablinks(onclick="openTab(event, 'Events')") EVENTS
          button.tablinks(onclick="openTab(event, 'Places')") PLACES
          button.tablinks(onclick="openTab(event, 'Friends')") FRIENDS
          button.tablinks(onclick="openTab(event, 'Reviews')") REVIEWS
          if !notCurr
            button(onclick="openSettings()") SETTINGS

        //- settings tab allow users to change their info
        #overlay
          .settings
            form(action='/members/updateUser', method='post', enctype='multipart/form-data')
              .one
                h2 Change Details:
                p Change interests:
                  input#input(type='text', placeholder='Search Tags')
                  input#xButton(type='button', value='Add tag', onclick='addTag()')

                  #checked
                p Change Description:
                  input(type='text', value= user.desc, name='desc')

                h4 Change Display Picture:
                  input#file-field(type='file', onchange='previewImage(event)', name='display')
                  div#preview
                  img#image-field(src=source, width='150', height='150')

                //- change
                input#xButton2(type='submit', value='Change Details')

              //- currently, only changing password is possible
            .password
              h2 Change Password:
              p
                | Old password:
                input#oldPwd(type='password', name='oldPwd')
                br
                | New password:
                input#newPwd(name='password', type='password', placeholder='Password', pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", onclick="openSpan()")
                div(class='popup')
                  span(class="popuptext" id="pwdSpan")
                    #message
                      p#let(class='invalid') Require lowercase letter
                      p#num(class='invalid') Require number
                      p#len(class='invalid') Require 8 characters
                br
                | Retype new password:
                input#retype(type='password', name='retype')
                br
                input#submitChanges(type='submit', value='Change Password')

            .xButton
              button#cancel(onclick='removeSettings()') Cancel


        //- The rest of the tab contents
        // Tab content
        #Interests.tabcontent
          h3 Your Interests:
          if user.interests
            #interest_tag
              ul
                each interest in user.interests
                  li #{interest}
          #des
            h3 Some description about you:
          if user.desc
            p
              | #{user.desc}
        #Events.tabcontent
          .gridEvent
            .attend
              h3 Events Joined
                if eventsJoined
                  ul
                    each event in eventsJoined
                      a(href='/events/getEvent/' + event._id)
                        li #{event.name}
            .created
              h3 Events Created
                if eventsCreated
                  ul
                    each userEvent in eventsCreated
                      a(href='/events/getEvent/' + userEvent._id)
                        li #{userEvent.name}
        #Places.tabcontent
          h3 Your bookmarks 
            i.fa.fa-bookmark(aria-hidden='true')  
          ul
            if user.bookmark
              each place in user.bookmark
                li #{place}
        #Friends.tabcontent
          form(action='/members/searchUser', method='post')
            input(type='text', placeholder="Search user...", name='username')
            input(type='submit',value='Search')
          h3 Following
          if user.followedUsers
            each friend in user.followedUsers
              a(href='/members/profile/' + friend)
                li @#{friend}
        #Reviews.tabcontent
          h3 Your reviews

          ul
            if rating
              each rate in rating
                #reviewCard
                  li
                    p.eventName
                      a(href='/events/getEvent/'+rate.eventID)
                        |#{rate.eventName} - #{rate.datePublished} 
                      span 
                        if !notCurr
                          input.deleteRating(type='button', value='Delete', id=rate._id.toString())
                    p Rating: #{rate.stars}/5
                    p.eventDesc Description:
                    p #{rate.desc}


      //- Footer
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved.

    //- Javascript codes
    script
        include ../public/js/navbar.js
        include ../public/js/profileEdit.js
    script.
        var user = !{ JSON.stringify(user) };

        if(user.interests){
            user.interests.forEach(function (element) {
                tags.push(element);
                var tag = document.createElement('input');
                tag.type = 'text';
                tag.value = element;
                tag.name = 'interests';
                tag.readonly = true;
                tag.onclick = function () {
                    var index = tags.indexOf(element);
                    tags.splice(index, 1);
                    tag.parentNode.removeChild(tag);
                }

                tagLst.appendChild(tag);
            });
        }

        //- Dynamic update function
        $(function () {

            $('#followUser').click(function (event) {
                event.preventDefault();

                var thisUser = {
                    username: $('#followUser')[0].name
                };

                if ($('#followUser')[0].value === 'Follow') {
                    $.ajax({
                        url: '/members/followUser',
                        type: 'put',
                        data: thisUser,
                        success: function (data) {
                            $('#followUser').val('Unfollow');
                        }
                    });
                }
                else {
                    $.ajax({
                        url: '/members/unfollowUser',
                        type: 'put',
                        data: thisUser,
                        success: function (data) {
                            $('#followUser').val('Follow');
                        }
                    });
                }
            });

            $('#submitChanges').click(function (event) {
                event.preventDefault();
                if (!isValid) {
                    alert('Invalid password!')
                    return;
                }

                var formData = {
                    password: $('#newPwd')[0].value,
                    retype: $('#retype')[0].value,
                    oldPwd: $('#oldPwd')[0].value
                };

                $.ajax({
                    url: '/members/updatePassword',
                    type: 'put',
                    data: formData
                }).done(function (data) {
                    if (data)
                        alert("Password changed");
                    else
                        alert("Incorrect input");
                });
            });

            $('.deleteRating').click(function (event) {
                event.preventDefault();

                $.ajax({
                    url: '/ratings/deleteRating/' + $(this)[0].id,
                    type: 'delete',
                    context: this,
                    success: function (data) {
                        $(this).parents('li').remove();
                    }
                });
            });
        });
        
