html
  style
    include ../public/css/profileEdit.css
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
  body
    .grid
      .navbar
        span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ Menu
        #mySidenav.sidenav
          a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
          a(href='#') Home
          a(href='#') About
          a(href='/events/findEvent') Events
          a(href='#') Places
          a(href='#') FAQ
        img.logo(src='../logo.png', alt='GPS', width='50', height='50')
      .basic_profile
        img.profile(src='../pictures/profile_icon.png', alt='profile_picture')
        -var fullname = firstName + ' ' + lastName;
        h3 #{firstName} #{lastName}
        h4 Username: #{userName}
        h4 Join Date: #{joined_date}
        h4 Date of Birth: #{DOB}
      .all_content
        // Tab links
        .tab
          button.tablinks(onclick="openTab(event, 'Interests')") Interests
          button.tablinks(onclick="openTab(event, 'Events')") Events
          button.tablinks(onclick="openTab(event, 'Places')") Places
          button.tablinks(onclick="openTab(event, 'Friends')") Friends
          button.tablinks(onclick="openTab(event, 'Reviews')") Reviews
          button.tablinks(onclick="openTab(event, 'Bookmarks')") Bookmarks
        // Tab content
        #Interests.tabcontent
          h3 Your Interests:
          p Some tags
          h3 Some description about you:
          p
            | Hello everyone! I enjoy photography and going to places that have lots
            | of interesting history.
        #Events.tabcontent
          h3 Past Events Attended
          h3 Past Events Created
        #Places.tabcontent
          h3 Places to go
          p Places went
        #Friends.tabcontent
          h3 Your friends:
          p username: ...
        #Reviews.tabcontent
          h3 Your reviews
          p Event 1
          p good
        #Bookmarks.tabcontent
          h3 Your bookmarks
          ul
            li Event 1
            li Event 2
            li Event 3
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved. 
          a(href='page2.html')
        a(href='page2.html')
        ul(style='color:white')
          a(href='page2.html')
          li
            a(href='page2.html')
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Service
          li
            a(href='#') Cookie Policy
    script.
      function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
      }
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
      }
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }

